<div class="overflow-x-auto relative">
  <div class="pb-10">
    <%= button_to "Add a new post", new_post_path, action: :new, method: :get, class: "absolute top-2 right-0 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-4 py-1 text-center" %>
    <%= link_to 'New Post', new_post_path, action: :new %>
  </div>
</div>
<% if @posts != [] %>
  <div class="overflow-x-auto relative shadow-lg sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <thead>
      <tr>
        <th scope="col" class="py-3 px-6">
          ID
        </th>
        <th scope="col" class="py-3 px-6">
          Owner
        </th>
        <th scope="col" class="py-3 px-6">
          Title
        </th>
        <th scope="col" class="py-3 px-6">
          <span class="sr-only">Show</span>
        </th>
        <th scope="col" class="py-3 px-6">
          <span class="sr-only">Edit</span>
        </th>
        <th scope="col" class="py-3 px-6">
          <span class="sr-only">Remove</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @posts.each do |p| %>
        <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= p.id %>
          </th>
          <td class="py-4 px-6">
            <%= p.owner %>
          </td>
          <td class="py-4 px-6">
            <%= p.title %>
          </td>
          <td class="py-4 px-6 text-right">
            <a href="/post/<%= p.id %>" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Show</a>
          </td>
          <td class="py-4 px-6 text-right">
            <a href="/post/<%= p.id %>/edit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          </td>
          <td class="py-4 px-6 text-right">
            <%= button_to "Delete", "/post/#{p.id}", method: :delete, class: "block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  There are no posts in DB
<% end %>